# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Build artifacts
build/
dist/
*.spec

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets / certificates
*.pfx
*.pem
*.key
*.p12
*.cert
